body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(26, 25, 25);
}


h1{
    text-align: center;
    margin-top: 100px;
    color: rgb(247, 0, 0);
    animation: color 2s linear .0s infinite alternate;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: 90px;
    color: rgb(26, 25, 25);
    animation: percent 2s linear .0s infinite alternate;
}


.block{
    width: 60%;
    height: 150px;
    border: 6px black solid;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
}


.box{
    width: 5px;
    height: 150px;
    background-color: rgb(233, 18, 18);
    animation: load 2s linear 0s infinite alternate;
}

.box::after{
    content: "";
    position: absolute;
    top: 55px;
    right: -20px;
    width: 20px;
    height: 40px;
    background-color: rgb(0, 0, 0);
}


@keyframes load{
    0%{
        width: 5px;
        background-color: rgb(235, 7, 7);
    }
    25%{
        width: 25%;
        background-color: rgb(72, 225, 11);
    }
    50%{
        width: 50%;
        background-color: rgb(72, 225, 11);
    }
    75%{
        width: 75%;
        background-color: rgb(72, 225, 11);
    }
    100%{
        width: 100%;
        background-color: rgb(72, 225, 11);
    }
}

@keyframes color{
    0%{
        color: rgb(235, 7, 7);
    }
    25%{
        color: rgb(45, 43, 179);
    }
    50%{
        color: rgb(45, 43, 179);
    }
    75%{
        color: rgb(45, 43, 179);
    }
    100%{
        color: rgb(45, 43, 179);
    }
  
}


@keyframes percent{
    0%{
        color: rgb(26, 25, 25);
    }
    25%{
        color: rgb(26, 25, 25);
    }
    50%{
        color: rgb(26, 25, 25);
    }
    75%{
        color: rgb(26, 25, 25);
    }
    100%{
        color: rgb(72, 225, 11);
    }
  
}
